#index {
	background-image: url(../images/fondo_1.png);
}	

#secciones {
	background-image: url(../images/fondo_2.png);
}

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'Cinzel', serif;
	font-size: 2em;
	color: red;
}

h2 {
	font-family: 'Bree Serif', serif;
}

span {
	font-weight: bold;
	color:#E64A19;
}

nav li {
	display: inline;
	padding:0.5em;
}

footer li {
	display: inline;
	padding:0.5em; 
}

img table td.discografia {
	width: 50%;
	height: 50%;
}

a {
	color:#795548;
}

a:hover {
	color:#FF9800;
}

a:visited {
	color:#FF5722;
}

.discografia, .novelas, .films {
	border: 1px dashed #212121;

}

label, textarea {
	display: block;
}